In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%pip install scipy
%pip install seaborn
import seaborn as sns
import sklearn
%matplotlib inline

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from scipy) (1.25.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (0.12.2)
Requirement already satisfied: pandas>=0.25 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.0.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from seaborn) (1.25.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from seaborn) (3.7.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.40.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (5.12.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.1.0)
Requirement already satisfied: zipp>=3.1.0 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.15.0)
Requirement already satisfied: tzdata>=2022.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
dataset = pd.read_csv('../data/heart_upd.csv')

In [7]:
dataset

,Age,Sex,ChestPainType,RestingBP,FastingBS,ExerciseAngina,HeartDisease,Unnamed: 7,NewSex,NewExcercise,NewChestPain
0,40,M,ATA,140,0,N,0,NaN,1,0,2
1,49,F,NAP,160,0,N,1,NaN,0,0,1
2,37,M,ATA,130,0,N,0,NaN,1,0,2
3,48,F,ASY,138,0,Y,1,NaN,0,1,0
4,54,M,NAP,150,0,N,0,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,0,N,1,NaN,1,0,3
914,68,M,ASY,144,1,N,1,NaN,1,0,0
915,57,M,ASY,130,0,Y,1,NaN,1,1,0
916,57,F,ATA,130,0,N,1,NaN,0,0,2
917,38,M,NAP,138,0,N,0,NaN,1,0,1

In [14]:
Y = dataset['HeartDisease']
X = dataset.drop(['Unnamed: 7', 'Sex', 'ChestPainType', 'ExerciseAngina', 'HeartDisease'], axis=1)
X

     Age  RestingBP  FastingBS  NewSex  NewExcercise  NewChestPain
0     40        140          0       1             0             2
1     49        160          0       0             0             1
2     37        130          0       1             0             2
3     48        138          0       0             1             0
4     54        150          0       1             0             1
..   ...        ...        ...     ...           ...           ...
913   45        110          0       1             0             3
914   68        144          1       1             0             0
915   57        130          0       1             1             0
916   57        130          0       0             0             2
917   38        138          0       1             0             1

[918 rows x 6 columns]

In [15]:
Y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .15, random_state = 0)

In [17]:
len(X_train)

780

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [19]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, Y_train)

LogisticRegression(random_state=0)

In [20]:
Y_pred = classifier.predict(X_test)

In [21]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)
cm

array([[43, 15],
       [10, 70]])

In [22]:
43+70

113

In [23]:
113+15+10

138

In [24]:
113/138

0.8188405797101449