In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%pip install scipy
%pip install seaborn
import seaborn as sns
import sklearn
%matplotlib inline
from sklearn import model_selection

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from scipy) (1.25.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (0.12.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from seaborn) (3.7.1)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from seaborn) (1.25.0)
Requirement already satisfied: pandas>=0.25 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.0.2)
Requirement already satisfied: fonttools>=4.22.0 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.40.0)
Requirement already satisfied: cycler>=0.10 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.1.0)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (5.12.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: packaging>=20.0 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: zipp>=3.1.0 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.15.0)
Requirement already satisfied: pytz>=2020.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
dataset = pd.read_csv('../data/cardio.csv')
dataset

,age,gender,height,weight,ap_hi,ap_lo,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,0,0,1,0
1,20228,1,156,85.0,140,90,1,0,0,1,1
2,18857,1,165,64.0,130,70,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,0,1,0
69996,22601,1,158,126.0,140,90,2,0,0,1,1
69997,19066,2,183,105.0,180,90,1,0,1,0,1
69998,22431,1,163,72.0,135,80,2,0,0,0,1
69999,20540,1,170,72.0,120,80,1,0,0,1,0

In [7]:
Y = dataset['cardio']
Y

0        0
1        1
2        1
3        1
4        0
        ..
69995    0
69996    1
69997    1
69998    1
69999    0
Name: cardio, Length: 70000, dtype: int64

In [8]:
X = dataset.drop(['cardio'], axis = 1)
X

         age  gender  height  weight  ap_hi  ap_lo  gluc  smoke  alco  active
0      18393       2     168    62.0    110     80     1      0     0       1
1      20228       1     156    85.0    140     90     1      0     0       1
2      18857       1     165    64.0    130     70     1      0     0       0
3      17623       2     169    82.0    150    100     1      0     0       1
4      17474       1     156    56.0    100     60     1      0     0       0
...      ...     ...     ...     ...    ...    ...   ...    ...   ...     ...
69995  19240       2     168    76.0    120     80     1      1     0       1
69996  22601       1     158   126.0    140     90     2      0     0       1
69997  19066       2     183   105.0    180     90     1      0     1       0
69998  22431       1     163    72.0    135     80     2      0     0       0
69999  20540       1     170    72.0    120     80     1      0     0       1

[70000 rows x 10 columns]

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .1, random_state = 0)

In [33]:
%pip install keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
from keras.layers import Dropout
from keras import regularizers

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: keras in /Users/saim_bhimji/Library/Python/3.9/lib/python/site-packages (2.13.1rc0)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [67]:
model = Sequential()
model.add(Dense(16, input_dim=10, kernel_initializer='normal',  kernel_regularizer=regularizers.l2(0.001),activation='relu'))
model.add(Dropout(0.25))
model.add(Dense(8, kernel_initializer='normal',  kernel_regularizer=regularizers.l2(0.001),activation='relu'))
model.add(Dropout(0.25))
model.add(Dense(1, activation='sigmoid'))
    
# Compile model
adam = Adam(lr=0.001)
model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.
WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

In [69]:
history=model.fit(X_train, Y_train,epochs=5, batch_size=10)

Epoch 1/5
6300/6300 [==============================] - 3s 462us/step - loss: 0.6932 - accuracy: 0.5036
Epoch 2/5
6300/6300 [==============================] - 2s 371us/step - loss: 0.6932 - accuracy: 0.5007
Epoch 3/5
6300/6300 [==============================] - 3s 407us/step - loss: 0.6932 - accuracy: 0.4974
Epoch 4/5
6300/6300 [==============================] - 2s 381us/step - loss: 0.6932 - accuracy: 0.4970
Epoch 5/5
6300/6300 [==============================] - 2s 375us/step - loss: 0.6932 - accuracy: 0.4972

In [78]:
Y_pred = model.predict(X_test).round()

219/219 [==============================] - 0s 591us/step

In [79]:
from sklearn.metrics import accuracy_score
a_score = accuracy_score(Y_test, Y_pred)
a_score

0.5028571428571429